#wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%; /* Make the container take up the full width */
  max-width: 700px; /* Set a maximum width to ensure it doesn't get too large */
  height: auto; /* Maintain aspect ratio */
}

#wheel {
  display: block;
  width: 100%; /* Make the wheel fill the container */
  height: auto; /* Maintain aspect ratio */
  text-align: center; /* Center align the text */
  word-wrap: break-word; /* Allow breaking words if necessary */
  overflow-wrap: break-word;
}

#spin {
  font: 1em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%; /* Adjust the size proportionally */
  height: 30%;
  transform: translate(-50%, -50%); /* Center the button */
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
  text-align: center; /* Center align the text */
  padding: 10px; /* Add padding for better text fitting */
  white-space: pre-wrap; /* Ensure text wraps onto multiple lines */
  overflow-wrap: break-word; /* Ensure long words are wrapped */
  word-wrap: break-word; /* Ensure long words are wrapped */
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #wheel {
    max-width: 100%; /* Allow wheel to resize on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  #spin {
    width: 40%; /* Adjust the size for smaller screens */
    height: 40%;
  }
}

::ng-deep{
  .custom-dialog-container .mat-dialog-container {
    border-radius: 16px; /* Adjust the value as needed */
  }
}
