.dialog-card {
  width: 700px; /* Set the width of the dialog box */
  height: 800px; /* Set the height of the dialog box */
  margin: auto;
}

.winner-card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.winner-card .image-container {
  width: 100%;
  height: 50%; /* Adjust to fit within the 700px height */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 12px; /* Match border radius for consistent look */
  border-top-right-radius: 12px;
}

.winner-card .image-container img {
  width: 100%; /* Take full width of the parent container */
  height: 100%; /* Fixed height for the image */
  object-fit: contain; /* Fit the image within the dimensions without cropping */
}

.winner-card mat-card-content {
  padding: 16px;
  text-align: center;
  flex: 1; /* Allow content to take up remaining space */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.winner-card .winner-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.winner-card .winner-detail {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #666;
}

.winner-card mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.winner-card mat-card-actions button {
  font-size: 0.9rem;
}

.winner-card mat-form-field.full-width {
  width: 100%;
  margin-top: 1rem;
}
