.dialog-container {
  display: flex;
  flex-direction: column; /* Stack content vertically by default */
  justify-content: center;
  align-items: center;
  height: 100%; /* Use full viewport height */
  padding: 20px; /* Adjust padding */
  box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
  background-image: url('../../assets/Football\ Sport\ Field.jpg');
  background-size: cover; /* Cover the entire dialog container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  border-radius: 20px; /* Optional: Add rounded corners to the dialog */
}

.owner {
  flex: 0 0 auto; /* Prevent resizing */
  margin-bottom: 20px; /* Space between owner and pyramid */
  text-align: center; /* Center the owner's content */
}

.owner-image {
  width: 300px; /* Adjust as needed for laptop screens */
  height: 310px;
  border-radius: 15px; /* Square image with slightly rounded corners */
  border: 3px solid #ddd;
}

.owner-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: azure;
}

.pyramid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Use full width of the container */
  max-width: 600px; /* Restrict the maximum width of the pyramid */

  .pyramid-row {
    display: flex;
    justify-content: center;
    margin: 15px 0; /* Increase margin for more spacing */

    .player {
      margin: 0 15px; /* Horizontal margin between players */
      text-align: center;

      .player-image {
        width: 120px; /* Adjust size for laptop screens */
        height: 120px;
        border-radius: 50%; /* Circular images */
        border: 5px solid #000000;
      }

      .player-name {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: azure;
      }
    }

    .captain .player-image {
      border-color: rgb(2, 2, 2); /* Highlight captain */
      width: 200px; /* Adjusted to be more responsive */
      height: 200px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .dialog-container {
    flex-direction: row; /* Align content side by side on larger screens */
    align-items: center;
    padding: 10px;
    height: 100%;
  }

  .owner {
    margin-right: 20px; /* Space between owner and pyramid */
    margin-left: 20px;
    margin-bottom: 50px; /* Reset margin when in row layout */
  }

  .owner-image {
    width: 200px; /* Slightly smaller on laptop screens */
    height: 200px;
    border-radius: 50%;
  }

  .pyramid {
    max-width: 100%; /* Reduce width slightly for laptops */
  }

  .pyramid-row .player .player-image {
    width: 100px;
    height: 100px;
  }

  .pyramid-row .captain .player-image {
    width: 150px;
    height: 150px;
  }
}
