<div class="overview">
  <div class="header">
    <h1><strong>Welcome To Prestige Cup- Season-6</strong> </h1>
    <div class="match-info">
      <div class="teams">
        <span> <strong>Powered by</strong></span>
        <span><strong>HLPS ALUMNI ASSOCIATION</strong></span>
        <span></span>
      </div>
      <div class="date-time">
        <span><strong>Fri 17 June 2022</strong></span>
        <span><strong> 20:00</strong></span>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <div class="stats">
        <div class="stat-card">
          <img src="../../assets/BANNER/Powered By.png" alt="Powered by">
        </div>
      </div>
      @if (soldPlayers.length>0) {
        <div class="table-container">
          <h3>Sold Players Overview</h3>
          <div class=" table-container table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Team</th>
                  <th>Position</th>
                  <th>Points</th>
                  <th>Batch</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add rows here -->
                 @for (player of soldPlayers; track $index) {
                  <tr>
                    <td><img [src]="player.image" alt="{{ player.name }}" width="50" /></td>
                    <td>{{ player.name }}</td>
                    <td>{{ getTeamName(player.team) }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.points }}</td>
                    <td>{{ player.batch }}</td>
                  </tr>
                 }

                <!-- Repeat rows as necessary -->
              </tbody>
            </table>
          </div>
        </div>
      }

      <div class="stats">
        <div class="stat-card">
          <img src="../../assets/BANNER/Green and Yellow Simple Clean Shoes Sale Banner - 1.png" alt="Powered by">
        </div>
      </div>

      @if (unSoldPlayers.length>0) {
        <div class="table-container">
          <h3>Unsold Players Overview</h3>
          <div class=" table-container table-wrapper">
            <div class="table-header">
              <button class="download-btn csv-btn" (click)="downloadCSV()">Download CSV</button>
              <button class="download-btn excel-btn" (click)="downloadExcel()">Download Excel</button>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Batch</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add rows here -->
                 @for (player of unSoldPlayers; track $index) {
                  <tr>
                    <td><img [src]="player.image" alt="{{ player.name }}" width="50" /></td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.batch }}</td>
                  </tr>
                 }

                <!-- Repeat rows as necessary -->
              </tbody>
            </table>
          </div>
        </div>
      }

      <div class="stats">
        <div class="stat-card">
          <img src="../../assets/BANNER/Green and Yellow Simple Clean Shoes Sale Banner - 2.png" alt="Powered by">
        </div>
      </div>
    </div>
  </div>

</div>
