body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  margin-top: 0px; /* Adjust according to your navbar height */
}

.content {
  margin-left: 280px; /* Adjust according to your sidebar width */
  padding: 55px;
  flex: 1;
}
