@mixin gradient-text($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Define your colors
$start-color: #ff7e5f;
$end-color: #feb47b;

.sidebar {
  width: 210px;
  background: linear-gradient(180deg, #000000 0%, #434343 100%);
  padding: 20px;
  padding-top: 105px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  h2 {
    @include gradient-text($start-color, $end-color);
    font-size: 26px;
    font-weight: 500;
  }
}


.sidebar-header {

}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: #333;
}
