/* teams-overview.component.css */
.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px); /* Adjust according to your header height */
  padding: 20px;
  background: linear-gradient(180deg, #000000 0%, #434343 100%);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #e0e0e0;
}

h3{
  color: rgba(207, 87, 87, 0.978);
  font-size: large;
  font-weight: bold;
}

.content {
  flex: 1; /* Take up the remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* To avoid horizontal scroll due to scrollbar */
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.team-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33% - 20px);
  max-width: calc(33% - 20px);
  box-sizing: border-box;
}

.team-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.team-logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.team-name {
  font-size: 20px;
  font-weight: bold;
}

.team-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.captain, .coach, .remaining-amount {
  background-color: #2a2a2a;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.starting-xi ul {
  list-style: none;
  padding: 0;
}

.starting-xi li {
  margin: 5px 0;
  padding: 5px;
  background-color: #333;
  border-radius: 5px;
}
